:root {
  --back-color: #EBECF0;
}

body {

	display: flex;
  margin: 2.666667rem 0;
	align-items: center;
	justify-content: center;
  text-align: center;
}
.App{
  width: 16rem;
  height: 21.333333rem;
  padding: 10%;
  border-radius: .853333rem;
  background: #f5f5f5;
  box-shadow:  18px 18px 7px #dbdbdb,
               -18px -18px 7px #ffffff;
}

.btn-wrapper{
  margin: .533333rem auto;
	display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: space-between;
  /* grid-row-gap: 2rem; */
	/* grid-template-columns: repeat(2,1fr); */
  text-align: center;
}

.btn{
  height: 3rem;
  width: 6rem;
  margin-bottom: 1.266667rem;
  padding: .2rem .4rem;
  border: none;
  border-radius: 10px;
  color: #6D7587;
  background-color: var(--back-color);

}
.deactive{
  box-shadow: 7px 7px 15px rgba(55, 84, 170, .15),
  -7px -7px 20px rgba(255, 255, 255, 1),
  inset 0px 0px 4px rgba(255, 255, 255, .2),
  inset 7px 7px 15px rgba(55, 84, 170, 0),
  inset -7px -7px 20px rgba(255, 255, 255, 0),
  0px 0px 4px rgba(255, 255, 255, 0);
}
.active, .btn:active{  
  box-shadow: 7px 7px 15px rgba(55, 84, 170, .15),
              -7px -7px 20px rgba(255, 255, 255, 1),
              inset 0px 0px 4px rgba(255, 255, 255, 0),
              inset 7px 7px 15px rgba(55, 84, 170, .15),
              inset -7px -7px 20px rgba(255, 255, 255, 1),
              0px 0px 4px rgba(255, 255, 255, .2);
}

